<%= error_alert(trip.errors) %>

<div class="form">
  <%= form_for trip do |f| %>

    <%= f.hidden_field :user_id %>

    <%= f.text_field :name, placeholder: "Name" %> 
    <%= error_message("Name", trip.errors[:name]) %>
    <br>
  
    <!-- how to call only the first field or makes sure it runs once -->
    <%= f.fields_for :locations do |location_form| %>
      <%= add_error_div(trip.errors[:locations].any?) do %>
        <%= location_form.text_field :name, placeholder: "Location" %>
      <% end %>
    <% end %>

    <%= f.submit "+", class: "secondary-button" %>
    <%= error_message("Location", trip.errors[:locations]) %>
    <br>

    <%= f.date_field :start_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year]
    %>
    <%= error_message("Start date", trip.errors[:start_date]) %>
     to &nbsp;

    <%= f.date_field :end_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %> (end date optional)
    <%= error_message("End date", trip.errors[:end_date]) %>
    <br>

    <%= f.text_area :note, placeholder: "Note (optional)" %>
    <%= error_message("Note", trip.errors[:note]) %>
    <br>
      
    <h3>Categories</h3>

    <!-- custom checkbox and how to display errors?? -->
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= error_message("Categories", trip.errors[:categories]) %>
    <br><br>

    <!-- 
      TODO:
      allow user to create custom category use find or create in the text field, this shouldn't be another checkbox. it's a nested form.

      add this field after the checkboxes. show on checkbox: true. use the JS power

      <%= f.fields_for :categories, trip.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :name, placeholder: "Custom Category" %>
      <% end %> 
  -->

  <br><br>

  <%= f.fields_for :trip_categories, trip.trip_categories.build do |trip_categories_fields| %>
    <%= trip_categories_fields.text_area :note, placeholder: "Trip Category Note (optional)" %>
  <% end %>

    <%= f.submit form_submit_text(trip) %>

  <% end %>

</div>

  
