<h1>The Places We Have Been</h1>

<%= link_to "Add Trip", new_trip_path %>

<ul>
<% @trips.each do |trip| %>
  <li><%= image_tag trip.user.image, size: "50x50" %> <%= link_to "#{trip.name}", user_trip_path(trip.user, trip) %> on <%= trip.start_date.strftime("%B %e, %Y") %></li>
<% end %>
</ul>


<!-- <%= image_tag("default_profile.png", size: "50x50") %> -->


