<section class="trips">
  <h1><%= trips_index_title(@user) %></h1> 

  <div class="trip-navigation">
    <%= add_trip_link(@user) %>

    <%= link_to "All", trips_all_link(@user), class: "trip-category" %>

    <%= render collection: @categories, partial: 'trips/trip_category', as: :category, locals: {user: @user} %>
  </div><!-- trip-navigation -->
  
  <ul>
    <%= render collection: @trips, partial: 'trips/trips_index_li', as: :trip %>
  </ul>

</section><!-- trips -->





