<h1>The Places We Have Been</h1>


<% if @user %>
  <%= link_to "All", user_trips_path(@user) %>
<% else %>
  <%= link_to "All", trips_path %>
<% end %>

<% @categories.each do |category| %>
  <% if @user %>
  <%= link_to category.name.capitalize, user_trips_path(@user, category: category.name) %>
  <% else %>
    <%= link_to category.name.capitalize, trips_path(category: category.name) %>
  <% end %>
<% end %>


<br><br>
<% if @user %>
  <%= link_to "Add Trip", new_user_trip_path(current_user) if logged_in? && @user == current_user %>
<% else %>
  <%= link_to "Add Trip", new_user_trip_path(current_user) if logged_in? %>
<% end %>

<ul>
<% @trips.each do |trip| %>
  <li><%= image_tag trip.user.image, size: "50x50" %> <%= link_to "#{trip.name}", user_trip_path(trip.user, trip) %> on <%= trip.start_date.strftime("%B %e, %Y") %></li>
<% end %>
</ul>
