<section class="trips" data-page="trips-index">
  <h1><%= trips_index_title(@user) %></h1> 

  <div class="trip-navigation">
    <%= add_trip_link(@user) %>

    <%= link_to "All", trips_all_link(@user), class: "trip-category" %>

    <%= render collection: @categories, partial: 'trips/trip_category', as: :category, locals: {user: @user} %>
  </div><!-- trip-navigation -->
  
  <ul>
    <%= render collection: @trips, partial: 'trips/trips_index_li', as: :trip %>
  </ul>

  <ul id="trips-list"></ul>
  
</section><!-- trips -->


<script id="trip-index-li-template" type="text/x-handlebars-template">
  <li>
    <a href="/users/{{userId}}">
      <img class="list-avatar" src="{{userImage}}">
    </a>
      <div class="list-description">
        {{#if <%= nested? %>}}
          <a class="list-title" href="/users/{{userId}}/trips/{{id}}">{{name}}</a>
          {{locations}} on {{date}}
        {{else}}
          <a class="list-title" href="/trips/{{id}}">{{name}}</a>
          <a class="camo-link strong" href="/users/{{userId}}">{{userUserName}}</a> {{locations}} on {{date}}
        {{/if}}
      </div><!-- list-description -->
    </li>
</script>