<h1><%= trips_index_title(@user) %></h1>

<%= link_to "All", trips_all_link(@user) %>


<% @categories.each do |category| %>
  <%= link_to category.name.capitalize, trips_category_filter_link(@user, category.name) %>
<% end %>


<br><br>
<%= add_trip_link(@user) %>

<ul>
<% @trips.each do |trip| %>
  <li><%= image_tag trip.user.image, size: "50x50" %> <%= link_to "#{trip.name}", user_trip_path(trip.user, trip) %> on <%= trip_listed_date(trip.start_date) %></li>
<% end %>
</ul>
