<h2>New Trip</h2>

<% if @trip.errors.any? || flash[:alert] %>
  <h3>There <%= @trip.errors.count < 2 ? 'was' : 'were' %> <%= pluralize(@trip.errors.any? ? @trip.errors.count : '1', "error") %>:</h3>
  <ul> 
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% if flash[:alert] %>
      <li><%= flash[:alert] %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @trip do |f| %>

  <%= f.hidden_field :user_id %>

  <%= f.text_field :name, placeholder: "Name" %> 
  
  <br><br>

  <%= f.fields_for :locations do |location_form| %>
    <%= location_form.text_field :name, placeholder: "Location" %>
  <% end %> <%= f.submit "+" %>

  <br><br>

  <%= f.date_field :start_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year], value: Date.today.to_s(:db)
  %> to 

  <%= f.date_field :end_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %> (end date optional)

  <br><br>

  <%= f.text_area :note, placeholder: "Note (optional)" %>

  <br><br>

    
  <%= f.label :categories %> <br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

  <br><br>


  <%= f.submit %>

<% end %>
