<h2>New Trip</h2>
<%= form_for @trip do |f| %>

  <%= f.text_field :name, placeholder: "Name" %> <br>
<br>

  <%= f.date_field :start_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %> to 

  <%= f.date_field :end_date, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %> <br><br>

  <%= f.text_area :note, placeholder: "Note" %>

  <br><br>

  <%= f.label :trip_categories %> <br>
  <%= f.collection_check_boxes :trip_categories, Purpose.all, :id, :name %>

  <br><br>


  <%= f.submit %>
<% end %>


<!-- create_table "trips", force: :cascade do |t|
name
 "start_date"
 "end_date"
 "note"
 "user_id"

 trip_categories

end -->