<section class="trips" data-page="trips-show" id="trip-show-container">

  <h1><%= @trip.name %></h1>

  <%= render 'users/user_avatar_link', user: @user, klass: "list-avatar" %>

  <div>
      <%= render 'users/user_name_link', user: @user, klass: "camo-link" %>
       <%= user_trips_count_link(@user)  %>
      <br>
      <%= user_tagline(@user) %>
  </div>
  <br>

  <%= trip_location_label(@trip) %>: <%= trip_location_list(@trip) %>
  <br>

  Date: <%= trip_date_range(@trip) %>
  <br>

  <%= trip_type_label(@trip) %>: <%= trip_type_list(@trip) %>
  <br><br>

  <p><%= @trip.note %></p>

  created on <%= date_short(@trip.created_at) %>
  
  <br><br>
  <%= trip_edit_link(@trip, "link-as-button") %> <%= trip_delete_link(@trip, "link-as-button ghost") %>

  <br><br>
  <%= link_to  "<<", "#", class: "link-as-button ghost prev" %>
  <%= link_to  ">>", "#", class: "link-as-button ghost next" %>
</section><!-- trips -->

<script id="trip-show-template" type="text/x-handlebars-template">
<h2>JS version</h2>
  <h1>{{trip.title}}</h1>

  <a href="/users/{{trip.user_id}}">
  <img class="list-avatar" src="{{userImage}}">
</a>


  <div>
      <a class="camo-link" href="/users/{{trip.user_id}}">{{trip.user.username}}</a>
       <a href="/users/{{trip.user_id}}/trips">({{userTripCount}})</a>
      <br>
      {{{userTagline}}}
  </div>
  <br>

  Location: {{locations}}
  <br>

  Date: {{date}}
  <br>

  Types: {{categories}}
  <br><br>

  <p>{{trip.note}}</p>

  created on {{created_date}}
  
  <br><br>
  <a class="link-as-button" href="/users/{{trip.user_id}}/trips/1/edit">Edit</a> <a class="link-as-button ghost" rel="nofollow" data-method="delete" href="/trips/1">Delete</a>

  <br><br>
  <a class="link-as-button ghost prev" href="#">&lt;&lt;</a>
  <a class="link-as-button ghost next" href="#">&gt;&gt;</a>
</script>