<section class="trips">

  <h1><%= @trip.name %></h1>

  <%= render 'users/user_avatar_link', user: @user, klass: "list-avatar" %>

  <div>
      <%= render 'users/user_name_link', user: @user, klass: "camo-link" %>
      <br>
      <%= @trip.created_at.strftime("%b %e, %Y") %>
  </div>

  <br>

  <%= "Location".pluralize(@trip.locations.count) + ": " + @trip.locations.pluck('name').join(', ') %>

  <br>

  Date: <%= date_long(@trip.start_date) %> <%= "to " + date_long(@trip.end_date) if @trip.end_date %>

  <br>

  <%= "Type".pluralize(@trip.locations.count - 1) + ": " +  @trip.categories.pluck('name').map { |name| name.capitalize }.join(', ') %>

  <br><br>

  <p><%= @trip.note %></p>

  <% if authorized?(@user) %>
    <%= link_to "Edit", edit_user_trip_path(@trip.user, @trip), class: "link-as-button" %> <%= link_to "Delete", @trip, method: :delete, class: "link-as-button ghost" %>
  
  <% end %>

</section>