<%= image_tag @trip.user.image, size: "50x50" %> <%= link_to @trip.user.username, user_path(@trip.user) %>

<h1><%= @trip.name %></h1>

<%= "Location".pluralize(@trip.locations.count) + ": " + @trip.locations.pluck('name').join(', ') %>

<br>

Date: <%= @trip.start_date.strftime("%B %e, %Y") %> <%= "to " + @trip.end_date.strftime("%B %e, %Y") if @trip.end_date %>


<br>

<%= "Type".pluralize(@trip.locations.count) + ": " +  @trip.categories.pluck('name').map { |name| name.capitalize }.join(', ') %>

<p><%= @trip.note %></p>

<% if current_user == @trip.user %>
  <%= link_to "Edit", edit_user_trip_path(@trip.user, @trip) %> <%= link_to "Delete", @trip, method: :delete, data: { confirm: "Are you sure?" } %>

  <!-- delete as a button -->
  <%= button_to "x", edit_user_trip_path(@trip.user, @trip), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>