<section class="trips">

  <h1><%= @trip.name %></h1>

  <%= render 'users/user_avatar_link', user: @user, klass: "list-avatar" %>

  <div>
      <%= render 'users/user_name_link', user: @user, klass: "camo-link" %>
       <%= user_trips_count_link(@user)  %>
      <br>
      <%= date_short(@trip.created_at) %>
  </div>
  <br>

  <%= trip_location_label(@trip) %> : <%= trip_location_list(@trip) %>
  <br>

  Date: <%= trip_date_range(@trip) %>
  <br>

  <%= trip_type_label(@trip) %> : <%= trip_type_list(@trip) %>
  <br><br>

  <p><%= @trip.note %></p>

  <%= trip_edit_link(@trip, "link-as-button") %> <%= trip_delete_link(@trip, "link-as-button ghost") %>

</section>