<h2>Log In</h2>

<%= facebook_auth_link %>

<br> <br> or <br><br>

<%= error_alert(@user.errors) %>

<div class="form">
  <%= form_for @user, url: login_path, method: :post do |f| %>

    <%= f.email_field :email, placeholder: "Email" %> <br>
    <%= f.password_field :password, placeholder: "Password" %>  
    <br>
    <%= f.submit 'Log in' %>
  <% end %>
</div><!--  form -->

<br>

<p>Don't have an account? <%= sign_up_link %>.</p>

