<h2>Register</h2>

<!-- create into a validation_errors(object) helper -->

<% if @user.errors.any? || flash[:alert] %>
  <h3>There <%= @user.errors.count < 2 ? 'was' : 'were' %> <%= pluralize(@user.errors.any? ? @user.errors.count : '1', "error") %>:</h3>
  <ul> 
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% if flash[:alert] %>
      <li><%= flash[:alert] %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Continue with Facebook", "/auth/facebook" %>

<br> <br> or <br><br>
<!-- create partial for reuse in edit_user -->

<%= form_for @user do |f| %>

  <%= f.text_field :username, placeholder: "Username", required: true %> 
  <%= f.email_field :email, placeholder: "Email", required: true %> 
  <%= f.password_field :password, placeholder: "Password", required: true %> 
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", required: true %> 
  <br>
  <%= f.submit "Register" %>
<% end %>

<p>Already a member? <%= link_to "Log in.", login_path %></p>