<h2>Sign Up</h2>

<%= link_to "Continue with Facebook", "/auth/facebook" %>

<br> <br> or Create New Account <br><br>

<%= error_alert(@user.errors) %>

<!-- create partial to reuse in edit user -->

<div class="form">
  <%= form_for @user do |f| %>

    <%= f.text_field :username, placeholder: "Username" %> <%= "Username " + @user.errors[:username].first if @user.errors[:username].present? %> <br>
    <%= f.email_field :email, placeholder: "Email" %>  <%= "Email " + @user.errors[:email].first if @user.errors[:email].present? %> <br>
 <br>
    <%= f.password_field :password, placeholder: "Password" %>   <%= "Password " + @user.errors[:password].first if @user.errors[:password].present? %> <br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>  <%= "Password confirmation " + @user.errors[:password_confirmation].first if @user.errors[:password_confirmation].present? %> <br>
    <%= f.submit "Sign up" %>
  <% end %>
</div><!--  form -->
  <br>
  <p>Already a member? <%= link_to "Log in.", login_path %></p>
</div>


