<section class="users">

  <%= render 'users/user_avatar_link', user: @user, klass: "list-avatar" %>

  <div class="user-title">
      <h1><%=@user.username %></h1>
      <%= user_tagline(@user) %>
  </div>
  <br>

  <p class="profile">
    <%= user_profile(@user) %>
  </p>

  <%= user_latest_trips(@user, @latest_limit) %>

  Travelogger since <%= date_long(user_join_date(@user)) %>
  <br><br>
  
 <%= user_edit_link(@user, "link-as-button") %>

</section><!-- users -->