<!DOCTYPE html>
<html>
  <head>
    <title>Travelogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700,700i" rel="stylesheet">

  </head>

  <body>

    <%= shared_alert(flash[:alert]) %>

    <%= shared_navigation %>

    <%= render 'shared/main' %>

    <%= render 'shared/footer' %>

  </body>
</html>
